<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 id="Greet">Hello <%=fname%></h3>
    <ul>
        <li><a href="/DT/DT">Dynamic Table</a></li>
        <li><a href="/ET/ET">Event Table</a></li>
        <li><a href="/kookoo/kookoo">Koo-Koo Cube</a></li>
        <li><a href="/tictactoe/tictactoe">Tic-Tac-Toe</a></li>  
        <li><a href="/delSearch/delSearch">Delimeter Search</a></li>             
        <li><a href="/result/result">Result Report</a></li>   
        <li><a href="/sorting/sorting">Sorting With Filteration with pagination</a></li>
        <li><a href="/filter/filter">Searching With Filteration Panel with pagination</a></li> 
        <li><a href="/api/api">Api integration and one page application having pagination and Searching</a></li>
        <li><a href="/jobApp/jaf">Job Application Form</a></li>
        <li><a href="/dqe/dqe">Dynamic Query Execution</a></li> 
        <li><a href="/">Make new account</a></li> 
        <li><a href="/login/login">Login into other account</a></li> 
        <li><a href="/logout/logout">Log Out</a></li> 
    </ul>                
</body>
</html>
