<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(207, 255, 239);">
    <%if(status==200){%>
        <div style="margin: 0 auto; width: 37%; height: 195px; border-width: 1px; border-style: solid; border-radius: 5%; background-color: aquamarine;">
            <form method="post" id="regForm">
                <table align="center" style="height: 170px;width: 630px;">
                    <tr>                  
                        <th>Enter Password:</th>
                        <td><input type="password" name="pass" id="pass"></td>            
                    </tr>
                    <tr>
                        <th>Confirm Password:</th>
                        <td><input type="password" id="confPass" name="confPass"/></br>
                        <span id="msg" style="color: red; font-size: small;"></span></td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align: center;"><div style="background-color: rgb(42, 59, 207); color:white; width: 100px;  border-color: antiquewhite; border-style: solid; border-width: 1px; border-radius: 5px; cursor: pointer;position: relative;left: 264px;" onclick="passw()">Submit</div></td>
                    </tr>                
                </table>
            </form>
        </div>
    <%}else{%>
        <h3>Your Link Is Expired Please Check Mail again for new link</h3>
        <p><a href="http://localhost:3000/<%=newrandlink%>">This Is Your New Link</a></p>
    <%}%>
    <script>                       
       async function passw(){
            if(document.getElementById("pass").value!=document.getElementById("confPass").value){
                document.getElementById("msg").innerHTML="Please Enter Same Passwords In Both Fields!!"
            }else{
                document.getElementById("msg").innerHTML=""
                let fd=new URLSearchParams()            
                fd.append("p",document.getElementById("pass").value)                
                let fetchPromise=await fetch("/insert/Pass",{
                    method:"post",
                    body:fd,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then((response)=>{
                    return response.json()
                })
                if(fetchPromise.status==200){
                    window.location.href="http://localhost:3000/login"
                }
            }
            
        }
    </script>
</body>
</html>