<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span{
            color:red;
            font-size: small;
        }
    </style>
</head>
<body style="background-color: rgb(207, 255, 239);">
    <h3 style="text-align: center;">Registration Form</h3>
    <div style="margin: 0 auto; width: 37%; height: 195px; border-width: 1px; border-style: solid; border-radius: 5%; background-color: aquamarine;">
        <form method="post" id="regForm">
            <table align="center" style="height: 170px;width: 630px;">
                <tr>                  
                    <th>First Name:</th>
                    <td><input type="text" name="Fname" id="Fname">
                    <span id="FnameMsg"></span>
                    </td>
                    <th>Last Name:</th>
                    <td><input type="text" name="Lname" id="Lname">
                    <span id="LnameMsg"></span>
                    </td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td><input type="text" id="email" name="email"/>
                    <span id="emailMsg"></span>
                    </td>
                    <th>Contact No:</th>
                    <td><input type="text" id="Contact" name="Contact"/>
                    <span id="ContactMsg"></span>
                    </td>                    
                </tr>
                <tr>
                    <th>Gender</th>
                    <td><input type="radio" id="male" name="gender" value="M"/>Male
                    <span id="genderMsg"></span>
                    </td>
                    <td><input type="radio" id="female" name="gender" value="F"/>Female</td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align: center;"><div style="background-color: rgb(42, 59, 207); color:white; width: 100px;  border-color: antiquewhite; border-style: solid; border-width: 1px; border-radius: 5px; cursor: pointer;position: relative;left: 264px;" onclick="reg()">Submit</div></td>                    
                </tr>                                
            </table>
        </form>
    </div>
    <p style="text-align: center;">Allready have account do <a href="/login/login">sign in</a></p>
    <p style="text-align: center;"><a id="link"></a></p>
    <script>
        async function reg(){
            const Fname=document.getElementById("Fname");
            const Lname=document.getElementById("Lname");
            const email=document.getElementById("email");
            const Contact=document.getElementById("Contact");
            const maleGender=document.getElementById("male");
            const femaleGender=document.getElementById("female");
            const reqArr=[{tag:Fname,msg:"First Name"},{tag:Lname,msg:"Last Name"},{tag:email,msg:"Email ID"},{tag:Contact,msg:"Contact No"}];
            let cnt=0;            
            reqArr.forEach((element)=>{
                if(element.tag.value.trim()==''){
                    document.getElementById(element.tag.id+"Msg").innerHTML="Please Enter "+element.msg
                    document.getElementById(element.tag.id+"Msg").style.color="red"
                    document.getElementById(element.tag.id+"Msg").style["fontSize"]="small"
                    cnt++;
                }else{
                    document.getElementById(element.tag.id+"Msg").innerHTML=''
                }
            })
            if(!maleGender.checked&&!femaleGender.checked){
                document.getElementById("genderMsg").innerHTML="Please select any gender"
                document.getElementById("genderMsg").style.color="red"
                document.getElementById("genderMsg").style["fontSize"]="small"
                cnt++;
            }
            let emailRegex= /^\S+@\S+$/
                if(email.value.trim()!=""){
                    if(!emailRegex.test(email.value)){
                        document.getElementById("emailMsg").innerHTML="Please Enter Proper Email ID!!";    
                        cnt++;                        
                    }else{
                        document.getElementById("emailMsg").innerHTML="";
                    }
                }   
                if(Contact.value.trim()!="") {
                    if(isNaN(Contact.value.trim())||Contact.value.trim().length!=10){
                        document.getElementById("ContactMsg").innerHTML="Please Enter Proper Contact Number!!";    
                        cnt++;                        
                    }else{
                        document.getElementById("ContactMsg").innerHTML="";    
                    }
                } 
            if(cnt==0){
                let fd = new URLSearchParams()            
                fd.append("Fname",document.getElementById("Fname").value.trim())
                fd.append("Lname",document.getElementById("Lname").value.trim())
                fd.append("email",document.getElementById("email").value.trim())
                fd.append("Contact",document.getElementById("Contact").value.trim())
                fd.append("gender",document.querySelector('input[name="gender"]:checked').value)
                let fetchPromise=await fetch("/",{
                    method:"post",
                    body:fd,
                    headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                }).then((response)=>{
                    return response.json()
                })
                if(fetchPromise.status==200){
                    console.log(fetchPromise.uid)
                    document.getElementById("link").innerHTML="Click Here to verification"
                    document.getElementById("link").setAttribute("href","http://localhost:3000/"+fetchPromise.random)
                }else if(fetchPromise.status==201){
                    document.getElementById("link").innerHTML="User Is Allready Exists and Active Click Here and please Do Login !!"
                    document.getElementById("link").setAttribute("href","http://localhost:3000/login/login")
                }else if(fetchPromise.status==202){
                    document.getElementById("link").innerHTML="User Is Allready Exists but inactive please check your mail and click on varification link !!"
                }
            }
        }
    </script>
</body>
</html>